namespace eval bvzm {
	namespace eval settings {
		variable version "0.6.1"
		variable dtsver "0.1.1"
		variable build "1242"
		variable release "dev"
		variable debug "0"
		namespace eval gen {
			variable pubtrig "@"
			variable controller "~bvzm"
			variable nick "bvzm"
			variable homechan "#bvzm"
		}
		namespace eval nickserv {
			# NickServ Settings
			# gnick - nickname to be used for grouping
			# gmethod - grouping method. using a 0-2 numerical digit
			# 0 disabled, no grouping enabled. only bvzm-centered nickname registration
			# 1 /ns group [gnick] [npass], group the bot into the groupnick
			# 2 /ns id [gnick] [npass], identify to services using groupnick
			variable gnick "placeholder"
			variable gmethod "0"
			variable npass "examplepassword"
			variable email "placeholder@example.com"
		}
		namespace eval dccts {
			# Version tag for DCCTS is labeled as 'dtsver' under bvzm->settings
			# To enable DCCTS, set mode to 1, or to disable use 0
			# Set 'reqflag' to the flags you want to restric DCCTS users to, default is Df
			# To set a channel, set the 'chan#' 1-4 as the channel name, or 0 to disable
			variable mode "1"
			variable reqflag "Df"
			variable chan1 "#bvzm"
			variable chan2 "#chan2"
			variable chan3 "#chan3"
			variable chan4 "#chan4"
			variable chan5 "0"
		}
		namespace eval timers {
			variable packdefault "15"
			variable eremove "10"
		}
		namespace eval greet {
			if {![file exists $bvzm::settings::dir::greet]} {
				file mkdir $bvzm::settings::dir::greet
			}
			variable dir "gdata"
		}
		namespace eval flags {
			setudef flag bvzm
			setudef flag avoice
			setudef flag greet
		}
	}
}
